{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@components": "./imports/components",
        "@layout": "./imports/layout"
      }
    }]
  ]
}