{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@imports": "./imports",
        "@components": "./imports/components",
        "@layout": "./imports/layout",
        "@api_manager": "./imports/tools/api/api_manager.ts",
        "@api_types": "./imports/tools/api/api_types.ts",
        "@auth_components": "./imports/components/auth",
        "@auth_tools": "./imports/tools/auth.ts"
      }
    }]
  ]
}